.CodeMirror {
  height: 100vh !important;
}

.button-container {
  position: absolute;
  top: 95%;
  left: 98%;
  transform: translate(-98%, -95%);
  z-index: 10;
}

.wrapper {
  position: relative;
  box-sizing: border-box;
}

.btn {
  display: block;
  height: 50px;
  width: 186px;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  font-size: 14px;
  text-align: center;
}

.btn::after {
  position: absolute;
  content:'';
  display: inline-block;
  background: rgba(59,173,227,1);
  background: linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  height: 50px;
  width: 372px;
  z-index: -1;
  transform: translateX(-280px);
  transition: transform 400ms ease-in;
}

.btn:hover::after {
    transform: translateX(-200px);
}

.btn span {
  position: relative;
  top: 16px;
}

.btn:active {
  transform: scale(0.98, 0.95);
}